<!doctype html>
{% load static %}

<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.min.css' %}">

    <title>Story 8</title>

  </head>

  <body>
    <br><br>
    <h1 style="text-align: center">Oliver's Profile Page</h1>
    <br><br>

    <div class="container">
      <div id="accordion">

        <div class="card" id="activityAcc">
          <div class="card-header" style="display: table;">
            <a class="card-link" data-toggle="collapse" href="#activityCollapse" style="display: table-cell;">
              Current Activities
            </a>
            <div class="btn-group">
              <button class="button" id="activityUp" onclick="activityUp()">↑</button>
              <button class="button" id="activityDown" onclick="activityDown()">↓</button>
            </div>
          </div>
          <div id="activityCollapse" class="collapse" data-parent="#accordion">
            <div class="card-body">
              <ul>
                <li><p>Quarantine</p></li>
                <li><p>College Stuffs</p></li>
              </ul>
            </div>
          </div>
        </div>

        <div class="card" id="orgAcc">
          <div class="card-header" style="display: table;">
            <a class="card-link" data-toggle="collapse" href="#orgCollapse" style="display: table-cell;">
              Organizational Experience
            </a>
            <div class="btn-group">
              <button class="button" id="orgUp" onclick="orgUp()">↑</button>
              <button class="button" id="orgDown" onclick="orgDown()">↓</button>
            </div>
          </div>
          <div id="orgCollapse" class="collapse" data-parent="#accordion">
            <div class="card-body">
              <ul>
                <li><p>High School MUN Team Member</p></li>
                <li><p>High School Baseball Club Member</p></li>
              </ul>
            </div>
          </div>
        </div>

        <div class="card" id="commAcc">
          <div class="card-header" style="display: table;">
            <a class="card-link" data-toggle="collapse" href="#commCollapse" style="display: table-cell;">
              Committee Experience
            </a>
            <div class="btn-group">
              <button class="button" id="commUp" onclick="commUp()">↑</button>
              <button class="button" id="commDown" onclick="commDown()">↓</button>
            </div>
          </div>
          <div id="commCollapse" class="collapse" data-parent="#accordion">
            <div class="card-body">
              <ul>
                <li><p>UI Interweek 2018 Event Committee</p></li>
              </ul>
            </div>
          </div>
        </div>

        <div class="card" id="achieveAcc">
          <div class="card-header" style="display: table;">
            <a class="card-link" data-toggle="collapse" href="#achieveCollapse" style="display: table-cell;">
              Achievements
            </a>
            <div class="btn-group">
              <button class="button" id="achieveUp" onclick="achieveUp()">↑</button>
              <button class="button" id="achieveDown" onclick="achieveDown()">↓</button>
            </div>
          </div>
          <div id="achieveCollapse" class="collapse" data-parent="#accordion">
            <div class="card-body">
              <ul>
                <li><p>Harvard MUN Participant</p></li>
              </ul>
            </div>
          </div>
        </div>
        
      </div>
    </div>
  

    <script type="text/javascript">
      function activityUp() {
        var card = $("#activityAcc");
        card.prev().insertAfter(card)
      }

      function activityDown() {
        var card = $("#activityAcc");
        card.next().insertBefore(card)
      }

      function orgUp() {
        var card = $("#orgAcc");
        card.prev().insertAfter(card)
      }

      function orgDown() {
        var card = $("#orgAcc");
        card.next().insertBefore(card)
      }

      function commUp() {
        var card = $("#commAcc");
        card.prev().insertAfter(card)
      }

      function commDown() {
        var card = $("#commAcc");
        card.next().insertBefore(card)
      }

      function achieveUp() {
        var card = $("#achieveAcc");
        card.prev().insertAfter(card)
      }

      function achieveDown() {
        var card = $("#achieveAcc");
        card.next().insertBefore(card)
      }
    </script>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script type="text/javascript" src="{% static 'js/jquery.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/popper.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/bootstrap.min.js' %}"></script>
  </body>
</html>